<app-navbar></app-navbar>
<div class="top-actions"  *ngIf="isAdmin">
  <input type="text" [(ngModel)]="roleNameInput" placeholder="Role" class="form-control me-2" style="width: 150px;">
  <button class="btn btn-success me-2" (click)="addRole()">Add Role</button>
  <button class="btn btn-danger" (click)="removeRole()">Remove Role</button>
</div>
<div class="report-container">
  <div class="card shadow-sm p-3 mb-3 rounded" style="width: 500px;">
    <div>
      <span class="text-dark fw-bold">Napiši novi report...</span>
    </div>
    <button class="btn btn-primary mt-2" (click)="showReportModal()">
      Otvori report modal
    </button>
  </div>
</div>

<div *ngIf="createReport" class="custom-modal" (click)="closeReportModal()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Novi Report</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeReportModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description"></textarea>
          </div>
          <div>
            <h2>Tags</h2>
            <div class="tag-conteiner">
                <div *ngFor="let tag of tags" class="tag-item">
                    <label [for]="tag.id" class="tag-label">{{ tag.name }}</label>
                    <input type="checkbox" [id]="tag.id" [value]="tag.name" class="tag-checkbox">
                </div>
            </div>
            </div>
           <div class="mt-3">
            <h5>Region</h5>
            <select class="form-select" (change)="onRegionChange($event)">
                <option value="">-- Select Region --</option>
                <option *ngFor="let region of regions" [value]="region.id">
                    {{ region.name }}
                </option>
            </select>
            </div>
            <div class="mt-3">
                <h5>Severity</h5>
                <select class="form-select" (change)="onSeverityChange($event)">
                    <option value="">-- Select Severity --</option>
                    <option *ngFor="let severity of severities" [value]="severity.id">
                        {{ severity.level }}
                    </option>
                </select>
            </div>
          <!-- <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location">
          </div> -->
          <div class="mb-3 mt-3">
  <label for="fileUpload" class="form-label">Attach File</label>
  <input 
    type="file" 
    class="form-control" 
    id="fileUpload" 
    (change)="onFileSelected($event)">
</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeReportModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveReport()">Save Report</button>
      </div>
    </div>
  </div>
</div>
<app-post-list></app-post-list>