<app-navbar></app-navbar>

<div class="profile-container">
  <h2>Moje objave</h2>

  <ng-container *ngIf="userReports$ | async as reports">
    <div *ngIf="reports && reports.length > 0; else noReports" class="reports-list">
      <app-small-post
        *ngFor="let report of reports"
        [report]="report"
        (reportClicked)="onReportClicked(report)">
      </app-small-post>
    </div>
  
    <ng-template #noReports>
      <div class="message">
        <p>Još uvek niste postavili nijednu objavu.</p>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="(userReports$ | async) === null">
    <div class="message">
      <p>Učitavanje objava...</p>
    </div>
  </ng-container>

</div>

<app-big-post
  *ngIf="selectedReport"
  [report]="selectedReport"
  (close)="onCloseBigPost()">
</app-big-post>