<app-navbar></app-navbar>

<div class="profile-container">
  <h2>Moje objave</h2>

 
  <ng-container *ngIf="userReports$ | async as reports">
   
    <div *ngIf="reports && reports.length > 0; else noReports">
      <div *ngFor="let report of reports" class="report-card">
        <h3>{{ report.title }}</h3>
        <p>{{ report.description }}</p>
        <p>Datum objave: {{ report.dateOfPost | date }}</p>
      </div>
    </div>
  
    <ng-template #noReports>
      <div class="message">
        <p>Još uvek niste postavili nijednu objavu.</p>
      </div>
    </ng-template>
  </ng-container>


  <ng-container *ngIf="userReports$ | async as reports else loading">
  </ng-container>

  <ng-template #loading>
    <div class="message">
      <p>Učitavanje objava...</p>
    </div>
  </ng-template>

</div>