<div class="report-card" (click)="onReportClick()">

  <div class="report-header">
    <div class="user-info">
      <h3 class="user-name">{{ report.username }}</h3>
      <p class="report-title">{{ report.title }}</p>
    </div>
    <div class="report-details">
      <span class="report-severity severity-{{ report.severity | lowercase }}">
        {{ report.severity }}
      </span>
      <span class="report-place">{{ report.region }}</span>

      <span *ngIf="report.resolutionStatus === 'Resolved'" class="report-status-resolved">
        Resolved
      </span>
    </div>
  </div>


  <button class="follow-btn" [class.following]="isUserFollowing()" (click)="onFollowClick($event)">
    <span *ngIf="!isUserFollowing()">Follow</span>
    <span *ngIf="isUserFollowing()">Following</span>
  </button>


  <div class="report-content">
    <p class="report-description">
      {{ report.description }}
    </p>

    </div>


  <div class="report-footer">
    <span class="report-date">{{ report.dateOfPost | date:'short' }}</span>
  </div>
</div>