<app-navbar></app-navbar>

<div id="map"></div>

<button class="filter-toggle" (click)="showFilters = !showFilters">Filters</button>

<div class="filter-panel" *ngIf="showFilters">
  <div class="filter-row">

    <div class="filter-category-wrapper" *ngFor="let cat of categories">
        <div class="filter-category" (click)="toggleCategory(cat.key)">
            {{ cat.label }}
        </div>
        <div class="options" *ngIf="expandedCategory === cat.key">
            <label *ngFor="let option of cat.options">
            <input
                type="checkbox"
                [checked]="tempFilters[cat.key].includes(option)"
                (change)="onToggleSelection(cat.key, option)"
            />
            {{ option }}
            </label>
        </div>
        </div>
    <button class="apply-filters" (click)="applyFilters()">Apply</button>

  </div>
</div>





<div class="side-panel" *ngIf="selectedReport">
  <button class="close-btn" (click)="selectedReport = null">&times;</button>

  <h2>{{ selectedReport.title }}</h2>
  <p><b>Date:</b> {{ selectedReport.dateOfPost | date:'medium' }}</p>
  <p><b>Posted by:</b> {{ selectedReport.username }}</p>

  <p><b>Description:</b></p>
  <p>{{ selectedReport.description }}</p>

  <div class="map-report-image-container" *ngIf="selectedReport.mediaIds && selectedReport.mediaIds.length > 0">
    <img 
      [src]="selectedMedia[0].url" 
      alt="Report media" 
      class="map-report-image"/>
  </div>

  <p><b>Severity:</b> {{ selectedReport.severity }}</p>
  <p><b>Status:</b> {{ selectedReport.resolutionStatus ? selectedReport.resolutionStatus : 'unsolved' }}</p>

  <p><b>Region:</b> {{ selectedReport.region }}</p>

  <p><b>Tags:</b> {{ selectedReport.tags?.join(', ') }}</p>
</div>
