
    <div class="first card text-center" style="width: 100vw; font-size: 2em; position: fixed;">
        <div class = "card-body">
        <img src = "FFD.png" alt="Background Image"
        style ="position: absolute; top: 0; left: 0; height:5.5vw">
            <div class = "d-flex justify-content-center gap-3">
                <a routerLink = "/map-page" class = "btn btn-outline-primary" style="width: 6rem"><img src="placeholder.png" alt="Map" style =" height:4vw" ></a>
                <a routerLink = "/main-page" class = "btn btn-outline-primary" style="width: 6rem;"><img src="home.png" alt="Home" style =" height:4vw" ></a>
                     <div class="search-bar">
                    <input type="search" class="search-input" placeholder="Search here..." tabindex="0">
                    <button class="search-submit" tabindex="0">
                 <img src="search.png" alt="S" style = "height:4vw">
                </button>
                </div>
                <a routerLink = "/following-page" class = "btn btn-outline-primary" style="width: 6rem;"><img src="social-media.png" alt="Following" style =" height:4vw" ></a>
                <a routerLink = "/profile-page" class = "btn btn-outline-primary" style="width: 6rem;"><img src="user.png" alt="Profile" style =" height:4vw" ></a>
        </div>
    </div>
</div>
